@import "tailwindcss";


*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --bg-default: #f5f5f5f3;
  --bg-white : #3A3A41;
  --bg-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  --text-default: #222222;
  --navbar-bg: #ffffff;
  --div: var(--color-gray-700);
  --text-gray: var(--color-gray-900);
  --hover-bg: var(--color-gray-300);
  --div-text: #51BCBF;
  --text-black : #e0e0e0fb;
}

html[data-theme="dark"], html.dark {
  --bg-default: #010211;
  --bg-white: var(--color-gray-500);
  --bg-image: none;
  --text-default: #ededed;
  --navbar-bg: #0f1724;
  --div: #ffffff;
  --text-gray: #e0e0e0fb;
  --hover-bg: var(--color-gray-700);
  --div-text: #1b7171c8;
  --text-black: #222222;
}

body {
  background-color: var(--bg-default);
  background-image: var(--bg-image);
  color: var(--text-default);
}

.bg-theme {
  background-color: var(--navbar-bg);
}

.bg-theme-div-text {
  background-color: var(--div-text);
}

.hover-bg-theme:hover {
  background-color: var(--hover-bg);
}

.bg-theme-div {
  background-color: var(--div);
}

.text-theme {
  color: var(--text-default);
}

.text-gray {
  color: var(--text-gray);
}

.bg-theme-white {
  background-color: var(--bg-white);
}

.text-black-theme {
  color: var(--text-black);
}

/* Swiper Css */
.product-swiper .swiper-pagination {
  position: relative;
  margin-top: 25px;
}